body{
    margin:0;
    background-color: black; 
        background-image: url("OIPK07B8LYL.jpg"), url("OIPK07B8LYL.jpg");
        background-color: #cccccc32;
      
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
    
    
}
h1{
    color: rgb(79, 185, 17);
}
a{
    text-decoration: none;
    color: whitesmoke;
    margin: 5px;
    font-size: 16px;
}
a:hover{
    color:rgb(183, 192, 178);
}
.logo-container{
    display: flex;
    align-items: left;

}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color:green;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 14% 6%;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: green;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(0, 0, 0);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
a{
    padding: 1px;
    text-decoration: none;
    color: rgb(8, 8, 7);
    margin: 5px;
    font-size: 16px;

}
a:hover{
    color:green;
}
footer{
  align-items: baseline;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color:rgb(79, 185, 17);
}